<p-toast></p-toast>
<div class="card flex justify-center">
  <p-drawer #drawerRef [(visible)]="visible">
    <div class="card">
      <div class="w-full md:w-80 border rounded-lg overflow-hidden">
        <div class="flex items-center gap-2 px-3 py-3 bg-surface-100">
          <div class="leading-tight">
            <div class="text-lg font-semibold tracking-wide text-surface-900">RAISSA PAYMENTS</div>
            <div class="text-xs text-surface-500">Suite de transacciones</div>
          </div>
        </div>

        <p-panelmenu [model]="items" class="w-full md:w-80"></p-panelmenu>

        <div class="w-full p-3">
          <p-button label="Cerrar Sesión"
                    icon="pi pi-sign-out"
                    styleClass="w-full justify-center"
                    severity="danger"
                    outlined
                    (onClick)="onLogout()"
          ></p-button>
        </div>
      </div>
    </div>

  </p-drawer>

  <p-button (onClick)="visible = true"
            icon="pi pi-bars"
            severity="info"
            variant="outlined"/>
</div>




