<div class="card flex justify-center">
  <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }" closable="false">
    <ng-template #header>
      <div class="inline-flex items-center justify-center gap-2">
        <h2><span class="font-bold whitespace-nowrap">{{ headerTitle }}</span></h2>
      </div>
    </ng-template>

    <form [formGroup]="form" class="flex flex-column">
      <p-panel class="mb-1">
        <input type="hidden" formControlName="codigo">
        <div class="p-1">
          <div class="field">
            <label for="codigoRegla">Descripción</label>
            <input type="text" id="codigoRegla" pInputText formControlName="codigoRegla" class="w-full"
                   [class.p-invalid]="form.get('codigoRegla')?.invalid && form.get('codigoRegla')?.touched"/>
            <small *ngIf="form.get('codigoRegla')?.touched && form.get('codigoRegla')?.errors">
              <ng-container *ngIf="form.get('codigoRegla')?.errors?.['required']" class="text-red-500">
                <p-message severity="error" variant="simple" size="small">Campo obligatorio</p-message>
              </ng-container>
            </small>
          </div>
          <div class="field">
            <label for="modo">Modo</label>
            <p-select
              id="modos"
              formControlName="codigoModo"
              [options]="modos"
              optionLabel="descripcion"
              optionValue="valor"
              placeholder="Selecciona moneda"
              style="width: 100%;"
              [class.p-invalid]="form.get('codigoModo')?.invalid && form.get('codigoModo')?.touched">
            </p-select>
            <small *ngIf="form.get('codigoModo')?.touched && form.get('codigoModo')?.errors">
              <ng-container *ngIf="form.get('codigoModo')?.errors?.['required']" class="text-red-500">
                <p-message severity="error" variant="simple" size="small">Campo obligatorio</p-message>
              </ng-container>
            </small>
          </div>
          <div class="field">
            <label for="codigoCategoria">Límite inferior</label>
            <p-inputnumber
              formControlName="codigoCategoria"
              inputId="locale-us"
              mode="decimal"
              locale="en-US"
              class="w-full"
              [class.p-invalid]="form.get('codigoCategoria')?.invalid && form.get('codigoCategoria')?.touched"
              [minFractionDigits]="2">
            </p-inputnumber>

            <small *ngIf="form.get('codigoCategoria')?.touched && form.get('codigoCategoria')?.errors">
              <ng-container *ngIf="form.get('codigoCategoria')?.errors?.['required']" class="text-red-500">
                <p-message severity="error" variant="simple" size="small">Campo obligatorio</p-message>
              </ng-container>
            </small>
          </div>
          <div class="field">
            <label for="predeterminado">Límite superior</label>
            <p-inputnumber
              formControlName="predeterminado"
              inputId="locale-us"
              mode="decimal"
              locale="en-US"
              class="w-full"
              [class.p-invalid]="form.get('predeterminado')?.invalid && form.get('predeterminado')?.touched"
              [minFractionDigits]="2">
            </p-inputnumber>
            <small *ngIf="form.get('predeterminado')?.touched && form.get('predeterminado')?.errors">
              <ng-container *ngIf="form.get('predeterminado')?.errors?.['required']" class="text-red-500">
                <p-message severity="error" variant="simple" size="small">Campo obligatorio</p-message>
              </ng-container>
            </small>
          </div>
        </div>
      </p-panel>
    </form>

    <ng-template #footer>
      <p-button label="Cancelar" [outlined]="true" severity="info" (onClick)="cerrar()"></p-button>
      <p-button label="Guardar" [outlined]="true" severity="success" (onClick)="guardar()"></p-button>
    </ng-template>
  </p-dialog>
</div>
