<div class="bg-white shadow-md rounded-lg flex justify-center">
  <p-dialog
    header="Edit Profile"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '30rem' }"
    closable="false"
  >
    <!-- HEADER -->
    <ng-template #header>
      <div class="inline-flex items-center justify-center gap-2">
        <h2><span class="font-bold whitespace-nowrap">{{ headerTitle }}</span></h2>
      </div>
    </ng-template>

    <!-- BODY: Formulario -->
    <form [formGroup]="form" class="flex flex-col">
      <p-panel class="mb-3 shadow-none">
        <input type="hidden" formControlName="codigo">

        <div class="p-2 flex flex-col gap-3">

          <!-- Campo: Regla -->
          <div class="flex flex-col gap-1">
            <label for="codigoRegla" class="text-sm font-medium text-gray-700">Regla</label>
            <p-select
              id="codigoRegla"
              formControlName="codigoRegla"
              [options]="reglas"
              optionLabel="descripcion"
              optionValue="codigo"
              [filter]="true"
              filterBy="descripcion"
              [showClear]="true"
              placeholder="Selecciona regla"
              class="w-full"
              appendTo="body"
              [class.ng-invalid]="form.get('codigoRegla')?.invalid && form.get('codigoRegla')?.touched"
              [class.ng-dirty]="form.get('codigoRegla')?.touched"
            >
              <ng-template #selectedItem let-selectedOption>
                <div class="flex items-center gap-2">
                  <div>{{ selectedOption.descripcion }}</div>
                </div>
              </ng-template>
              <ng-template let-regla #item>
                <div class="flex items-center gap-2">
                  <div>{{ regla.descripcion }}</div>
                </div>
              </ng-template>
            </p-select>

            @if (form.get('codigoRegla')?.touched && form.get('codigoRegla')?.errors) {
              @if (form.get('codigoRegla')?.errors?.['required']) {
                <p-message severity="error" variant="simple" size="small">Campo obligatorio</p-message>
              }
            }
          </div>

          <!-- Campo: Categoría -->
          <div class="flex flex-col gap-1">
            <label for="codigoCategoria" class="text-sm font-medium text-gray-700">Categoria</label>
            <p-select
              id="codigoCategoria"
              formControlName="codigoCategoria"
              [options]="categorias"
              optionLabel="descripcion"
              optionValue="codigo"
              placeholder="Seleccione categoria"
              [showClear]="true"
              class="w-full"
              appendTo="body"
              [class.ng-invalid]="form.get('codigoCategoria')?.invalid && form.get('codigoCategoria')?.touched"
              [class.ng-dirty]="form.get('codigoCategoria')?.touched"
            ></p-select>

            @if (form.get('codigoCategoria')?.touched && form.get('codigoCategoria')?.errors) {
              @if (form.get('codigoCategoria')?.errors?.['required']) {
                <p-message severity="error" variant="simple" size="small">Campo obligatorio</p-message>
              }
            }
          </div>

          <!-- Campo: Modo -->
          <div class="flex flex-col gap-1">
            <label for="codigoModo" class="text-sm font-medium text-gray-700">Modo</label>
            <p-select
              id="codigoModo"
              formControlName="codigoModo"
              [options]="modos"
              optionLabel="descripcion"
              optionValue="valor"
              placeholder="Selecciona modo"
              [showClear]="true"
              class="w-full"
              appendTo="body"
              [class.ng-invalid]="form.get('codigoModo')?.invalid && form.get('codigoModo')?.touched"
              [class.ng-dirty]="form.get('codigoModo')?.touched"
            ></p-select>

            @if (form.get('codigoModo')?.touched && form.get('codigoModo')?.errors) {
              @if (form.get('codigoModo')?.errors?.['required']) {
                <p-message severity="error" variant="simple" size="small">Campo obligatorio</p-message>
              }
            }
          </div>

          <!-- Campo: Predeterminado -->
          <div class="flex flex-col gap-1">
            <label for="predeterminado" class="text-sm font-medium text-gray-700">Predeterminado</label>
            <p-select
              id="predeterminado"
              formControlName="predeterminado"
              [options]="predeterminados"
              optionLabel="descripcion"
              optionValue="valor"
              placeholder="Selecciona predeterminado"
              [showClear]="true"
              class="w-full"
              appendTo="body"
              [class.ng-invalid]="form.get('predeterminado')?.invalid && form.get('predeterminado')?.touched"
              [class.ng-dirty]="form.get('predeterminado')?.touched"
            ></p-select>

            @if (form.get('predeterminado')?.touched && form.get('predeterminado')?.errors) {
              @if (form.get('predeterminado')?.errors?.['required']) {
                <p-message severity="error" variant="simple" size="small">Campo obligatorio</p-message>
              }
            }
          </div>

          <!-- Campo: Prioridad -->
          <div class="flex flex-col gap-1">
            <label for="prioridad" class="text-sm font-medium text-gray-700">Prioridad</label>
            <p-inputnumber
              id="prioridad"
              formControlName="prioridad"
              [showButtons]="true"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              inputId="horizontal"
              [min]="1"
              [max]="10"
              [step]="1"
              [allowEmpty]="false"
              class="w-full"
              [class.ng-invalid]="form.get('prioridad')?.invalid && form.get('prioridad')?.touched"
              [class.ng-dirty]="form.get('prioridad')?.touched"
            >
              <ng-template #incrementbuttonicon>
                <span class="pi pi-plus"></span>
              </ng-template>
              <ng-template #decrementbuttonicon>
                <span class="pi pi-minus"></span>
              </ng-template>
            </p-inputnumber>

            @if (form.get('prioridad')?.touched && form.get('prioridad')?.errors) {
              @if (form.get('prioridad')?.errors?.['required']) {
                <p-message severity="error" variant="simple" size="small">Campo obligatorio</p-message>
              }
            }
          </div>

        </div>
      </p-panel>
    </form>

    <!-- FOOTER -->
    <ng-template #footer>
      <div class="flex justify-end gap-2 pt-2">
        <p-button label="Cancelar" [outlined]="true" severity="info" (onClick)="cerrar()"></p-button>
        <p-button label="Guardar" [outlined]="true" severity="success" (onClick)="guardar()"></p-button>
      </div>
    </ng-template>
  </p-dialog>
</div>
