<div class="bg-white shadow-md rounded-lg flex justify-center">
  <p-dialog
    header="Edit Profile"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '65rem' }"
    closable="false"
  >
    <!-- HEADER -->
    <ng-template #header>
      <div class="inline-flex items-center justify-center gap-2">
        <h2><span class="font-bold whitespace-nowrap">{{ headerTitle }}</span></h2>
      </div>
    </ng-template>

    <!-- TABLA DE OBSERVACIONES -->
    <p-table
      [value]="obsList"
      [tableStyle]="{ 'min-width': '60rem' }"
      [size]="'small'"
      stripedRows
      showGridlines
      class="mb-4"
    >
      <ng-template #header>
        <tr>
          <th id="descripcion" class="w-[40%]">Descripción</th>
          <th id="fecha" class="w-[20%]">Fecha y hora</th>
          <th id="usuarioReg" class="w-[20%]">Usuario que realizó observación</th>
          <th id="evento" class="w-[20%]">Evento donde se realizó observación</th>
        </tr>
      </ng-template>

      <ng-template #body let-observacion>
        <tr>
          <td>{{ observacion.descripcion }}</td>
          <td>{{ observacion.audiFechIns }}</td>
          <td>{{ observacion.usuarioObservacion }}</td>
          <td>{{ eventoLabel(observacion.eventoObservacion) }}</td>
        </tr>
      </ng-template>
    </p-table>

    <!-- CARD PARA AGREGAR OBSERVACIÓN -->
    @if (showCard) {
      <p-card styleClass="w-full max-w-[47rem] border border-gray-200 rounded-lg mb-4">
        <ng-template #title>
          <span class="font-semibold text-gray-800">{{ cardTitle }}</span>
        </ng-template>

        <textarea
          rows="5"
          cols="30"
          [(ngModel)]="descripcion"
          pTextarea
          [autoResize]="true"
          styleClass="w-full"
        ></textarea>
      </p-card>
    }

    <!-- FOOTER -->
    <ng-template #footer>
      <div class="flex justify-end gap-2 pt-2">
        <p-button label="Cerrar" [outlined]="true" severity="info" (onClick)="cerrar()"></p-button>
        @if (showBtnObservar) {
          <p-button label="Observar" [outlined]="true" severity="warn"
                    (onClick)="observarAnular('observar')"></p-button>
        }
        @if (showBtnAnular) {
          <p-button label="Anular" [outlined]="true" severity="danger"
                    (onClick)="observarAnular('anular')"></p-button>
        }
      </div>
    </ng-template>
  </p-dialog>
</div>
