<div class="flex flex-wrap gap-3 align-items-center justify-content-center">
  <footer class="p-4 bg-gray-100 text-sm text-gray-700 mt-auto border-t border-gray-300">
    <div class="flex flex-column md:flex-row md:justify-between md:items-center gap-4">
      <!-- Información Institucional -->
      <div class="flex flex-column gap-1 text-center md:text-left">
        <span class="font-semibold text-gray-800">RAISSA PAYMENTS</span>
        <span>© 2026 GAMMAPRO</span>
        <span>Todos los derechos reservados.</span>
      </div>

      <!-- Información Técnica -->
      <div class="flex flex-column gap-1 text-center md:text-left">
        <span>{{ appVersion }}</span>
        <span>Ambiente: Producción</span>
        <span>
          Soporte
          <a
            href="mailto:soporte@raissa.com"
            class="text-primary hover:underline"
          >
            soporte&#64;gammapro.pe
          </a>
        </span>
      </div>
    </div>
  </footer>
</div>
