<p-dialog
  [(visible)]="visible"
  [modal]="true"
  closable="false"
  [style]="{ width: '100rem' }"
  styleClass="mi-dialog-cargos-unico"
>
  <div class="card">
    <p-table
      [value]="cargos"
      dataKey="id"
      [tableStyle]="{ 'min-width': '70rem' }"
      [expandedRowKeys]="expandedRows"
      [size]="'small'"
      stripedRows
      showGridlines
    >
      <ng-template #caption>
        <div class="flex flex-wrap justify-end gap-2">
          <p-button label="Expandir todo" icon="pi pi-plus" severity="info" text (onClick)="expandAll()"></p-button>
          <p-button label="Contraer todo" icon="pi pi-minus" severity="info" text (onClick)="collapseAll()"></p-button>
        </div>
      </ng-template>

      <ng-template #header>
        <tr>
          <th id="boton" style="width: 4rem"></th>
          <th id="cuentaOrigen">Cuenta origen</th>
          <th id="entidadOrigen">Entidad origen</th>
          <th id="monedaOrigen">Moneda</th>
          <th id="montoOrigen" class="text-right">Monto cargo</th>
          <th id="estado">Estado validación</th>
          @if (mostrar) {
            <th id="estadoEjecucion">Estado ejecución</th>
          }
        </tr>
      </ng-template>

      <ng-template #body let-cargo let-expanded="expanded">
        <tr>
          <td>
            <p-button
              type="button"
              [pRowToggler]="cargo"
              [text]="true"
              [rounded]="true"
              [plain]="true"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
            </p-button>
          </td>
          <td>{{ cargo.cuentaOrigen }}</td>
          <td>{{ cargo.nombreEntidadFinanciera }}</td>
          <td>
            <p-tag [value]="cargo.moneda" [severity]="monedaSeverity(cargo.moneda)"></p-tag>
          </td>
          <td class="text-right">{{ cargo.montoCargo }}</td>
          <td>
            <p-tag
              [value]="cargo.montoTotalAbonos === cargo.montoCargo ? 'Correcto' : 'Observado'"
              [severity]="cargo.montoTotalAbonos === cargo.montoCargo ? 'success' : 'danger'">
            </p-tag>
          </td>
          @if (mostrar) {
            <td>
              <p-tag
                [value]="cargo.estadoEjecucion"
                [severity]="cargo.estadoEjecucion === 'Correcto' ? 'success' : 'danger'">
              </p-tag>
            </td>
          }
        </tr>
      </ng-template>

      <ng-template #expandedrow let-cargo>
        <tr>
          <td colspan="7">
            <div class="p-4">
              <h5 class="font-bold flex items-center gap-2">
                <p-tag
                  [value]="'Abonos totales para ' + cargo.cuentaOrigen + ': '"
                  severity="info"
                ></p-tag>
                <p-tag
                  [value]="formatMonto(cargo.montoTotalAbonos, cargo.moneda)"
                  [severity]="tagSeverity(cargo)">
                </p-tag>
              </h5>
              <p-table [value]="cargo.abonos" dataKey="id" [tableStyle]="{ 'min-width': '50rem' }" [size]="'small'">
                <ng-template #header>
                  <tr>
                    <th id="cuentaAbono">Cuenta abono</th>
                    <th id="entidadAbono">Entidad destino</th>
                    <th id="monedaAbono">Moneda</th>
                    <th id="montoAbono" class="text-right">Monto</th>
                    <th id="clienteAbono">Benef. cargado</th>
                    @if (tieneBeneficiarioValidadoEnLista()) {
                      <th id="docBeneficiarioValidado">N. doc benef. validado</th>
                      <th id="nomBeneficiarioValidado">Nombre benef. validado</th>
                    }
                    @if (mostrar) {
                      <th id="estadoEjecucionDetalle">Estado ejecución</th>
                      <th id="detalleEjecucion">Detalle ejecución</th>
                    }
                  </tr>
                </ng-template>
                <ng-template #body let-det>
                  <tr>
                    <td>{{ det.cuentaDestino }}</td>
                    <td>{{ det.nombreEntidadFinanciera }}</td>
                    <td>
                      <p-tag [value]="det.moneda" [severity]="monedaSeverity(det.moneda)"></p-tag>
                    </td>
                    <td class="text-right">{{ det.montoDestino }}</td>
                    <td>{{ det.beneficiario }}</td>
                    @if (tieneBeneficiarioValidado(det)) {
                      <td>{{ det.ndocBeneficiarioValidado }}</td>
                      <td>{{ det.nombreBeneficiarioValidado }}</td>
                    }
                    @if (mostrar) {
                      <td>
                        <p-tag
                          [value]="det.estadoEjecucion"
                          [severity]="det.estadoEjecucion === 'Correcto' ? 'success' : 'danger'">
                        </p-tag>
                      </td>
                      <td>{{ det.detalleEjecucion }}</td>
                    }
                  </tr>
                </ng-template>
                <ng-template #emptymessage>
                  <tr>
                    <td colspan="5">Sin abonos.</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <ng-template #footer>
    <p-button
      label="Cerrar"
      [outlined]="true"
      severity="info"
      (onClick)="cerrar()"
    />
  </ng-template>
</p-dialog>
