<div class="bg-white shadow-md rounded-lg flex justify-center">
  <p-dialog header="Perfil" [modal]="true" [(visible)]="visible" [style]="{ width: '35rem' }" closable="false">
    <!-- HEADER -->
    <ng-template #header>
      <div class="inline-flex items-center justify-center gap-2">
        <h2><span class="font-bold whitespace-nowrap">{{ headerTitle }}</span></h2>
      </div>
    </ng-template>

    <!-- BODY -->
    <form [formGroup]="form" class="flex flex-col">
      <p-panel class="mb-3 border-none shadow-none">
        <input type="hidden" formControlName="codigo">

        <div class="p-2 flex flex-col gap-3">
          <!-- Campo: Descripción -->
          <div class="flex flex-col gap-1">
            <label for="descripcion" class="text-sm font-medium text-gray-700">Descripción *</label>
            <input type="text" id="descripcion" pInputText formControlName="descripcion" class="w-full"/>
            @if (form.get('descripcion')?.touched && form.get('descripcion')?.errors) {
              @if (form.get('descripcion')?.errors?.['required']) {
                <p-message severity="error" variant="simple" size="small">Campo obligatorio</p-message>
              }
              @if (form.get('descripcion')?.errors?.['minlength']) {
                <p-message severity="error" variant="simple" size="small">Mínimo 3 caracteres</p-message>
              }
              @if (form.get('descripcion')?.errors?.['maxlength']) {
                <p-message severity="error" variant="simple" size="small">Máximo 100 caracteres</p-message>
              }
            }
          </div>

          <!-- Campo: Abreviatura -->
          <div class="flex flex-col gap-1">
            <label for="abreviatura" class="text-sm font-medium text-gray-700">Referencia *</label>
            <input type="text" id="abreviatura" pInputText formControlName="abreviatura" class="w-full"/>
            @if (form.get('abreviatura')?.touched && form.get('abreviatura')?.errors) {
              @if (form.get('abreviatura')?.errors?.['required']) {
                <p-message severity="error" variant="simple" size="small">Campo obligatorio</p-message>
              }
              @if (form.get('abreviatura')?.errors?.['pattern']) {
                <p-message severity="error" variant="simple" size="small">Solo mayúsculas, números y guión bajo</p-message>
              }
              @if (form.get('abreviatura')?.errors?.['maxlength']) {
                <p-message severity="error" variant="simple" size="small">Máximo 20 caracteres</p-message>
              }
            }
          </div>

          <!-- Campo: Nombre Comercial -->
          <div class="flex flex-col gap-1">
            <label for="nombreComercial" class="text-sm font-medium text-gray-700">Referencia destino</label>
            <input type="text" id="nombreComercial" pInputText formControlName="nombreComercial" class="w-full"/>
            @if (form.get('nombreComercial')?.touched && form.get('nombreComercial')?.errors?.['maxlength']) {
              <p-message severity="error" variant="simple" size="small">Máximo 100 caracteres</p-message>
            }
          </div>

          <!-- Campo: Fecha Caducidad -->
          <div class="flex flex-col gap-1">
            <label for="fechaCaducidad" class="text-sm font-medium text-gray-700">Fecha de Caducidad</label>
            <p-datepicker id="fechaCaducidad" formControlName="fechaCaducidad" dateFormat="dd/mm/yy" class="w-full"></p-datepicker>
          </div>
        </div>
      </p-panel>
    </form>

    <!-- FOOTER -->
    <ng-template #footer>
      <div class="flex justify-end gap-2 pt-2">
        <p-button label="Cancelar" [outlined]="true" severity="info" (onClick)="cerrar()"></p-button>
        <p-button label="Guardar" [outlined]="true" severity="success" (onClick)="guardar()"></p-button>
      </div>
    </ng-template>
  </p-dialog>
</div>
